{
  "presets": [
    "flow",
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "transform-flow-strip-types"]
    }
  }

}
